:root {
  --primary-green-light: hsl(148, 38%, 91%);
  --primary-green-medium: hsl(169, 82%, 27%);
  --primary-red: hsl(0, 66%, 54%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey-medium: hsl(186, 15%, 59%);
  --neutral-grey-darker: hsl(187, 24%, 22%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  background: var(--primary-green-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.rounded {
  border-radius: 5px;
}
.form-container {
  background: var(--neutral-white);
  width: min(850px, 95%);
  padding: 1em;
  margin: 0 auto;
}
.form-heading {
  color: var(--neutral-grey-darker);
}
label {
  display: block;
  margin-top: 1em;
  color: var(--neutral-grey-darker);
  font-weight: 400;
}
input,
textarea {
  width: 100%;
  margin-top: 0.5em;
}
input[type="text"],
input[type="email"],
textarea {
  padding: 1em;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--primary-green-medium);
  outline: 2px solid transparent;
}
/* input[type="text"],
input[type="email"],
textarea:active {
  border: 1px solid var(--primary-green-medium);
} */
fieldset {
  border: none;
  margin-top: 1em;
}
.inline {
  width: unset;
  margin: 0 1em 0 0;
  vertical-align: middle;
}
.row {
  display: flex;
}

.radio-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid var(--neutral-grey-medium);
  padding: 1em;
  align-items: center;
  gap: 0.5em;
}
/* hiding default browser radio input */
.radio-container input {
  appearance: none;
  cursor: pointer;
  background: var(--neutral-white);
  margin: 0;
  font: inherit;
  color: var(--primary-green-medium);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--primary-green-medium);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-container input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transfrom ease-in-out;
  box-shadow: inset 1em 1em var(--neutral-grey-medium);
}
.radio-container input:checked::before {
  transform: scale(1);
}

button {
  display: block;
  width: 100%;
  margin: 2em 0 0 0;
  padding: 0.75em 0;
  border: none;
  background: var(--primary-green-medium);
  color: var(--neutral-white);
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}
/* .checkbox-label {
  align-items: center;
} */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
